.header-about{
  border-bottom: 1px solid #f5f5f5;
  color: #2E99BD;
  font-size: 28px;
  margin: 10px 0px;
}

.description-about{
  margin: 10px;
  font-size: 20px;
  color: #252525
}

.item-about{
  margin: 5px 55px;
  font-size: 18px;
  color: #2E99BD;
  font-weight: bolder;
}

.citat-about{
  color: #2E99BD;
  font-size: 28px;
  margin-top: 150px;
  margin-left: 25px;
}

.list-of-item-about{
  margin-top: 20px;
}

.sign-in-content{
  background-color: #f5f5f5;
  border: none;
}
