<style>
  html{
    height: 100%;
    background-color: #f5f5f5;
    margin: 0px;
    font-family: Arial;
  }
  body{
    height: 100%;
    background-color: #f5f5f5;
    font-family: Arial;
  }
  .higher-logo{
    margin: auto;
    width: 200px;
  }
  .higher-logo img{
    width: 200px;
  }
  .sign-in-content, .sign-up-content{
    height: 500px;
    background-color: white;
    margin-top: 30px;
    border: 1px solid #e6e6e6;
  }
  .sign-up-content{
    height: 600px;
  }
  .form-group{
    width: 80%;
    margin: auto;
    margin-top: 35px;
    border-radius: 0;
  }
  .sign-in-input{
    margin-top: 18%;
  }
  .form-group span, input{
    border-radius: 0px !important;
  }
  .form-group input:focus{
    border: 1px solid #62C2D2;
    outline-width: 0px;
    -webkit-box-shadow: 1px solid #62C2D2;
    box-shadow: 1px solid #62C2D2;
  }
  .first-name, .last-name{
    width: 39%;
  }
  .first-name{
    float: left;
    margin-right: 2%;
    margin-left: 10%;
  }
  .last-name{
    margin-left: 2%;
  }

  .terms{
    margin-left: 10%;
    margin-top: 35px;
  }
  input[type="checkbox"]{
    vertical-align: top;
  }
  .terms span{
    color: #6d7079;
    margin-left: 5px;
  }
  .button{
    width: 150px;
    margin: auto;
    font-size: 17px;
    border: none;
    color: white;
    font-weight: lighter;
  }
  .button button{
    background-color: #2e99bd;
    border: 0px;
    border-radius: 0px;
    margin-top: 35px;
    width: 100%;
    color: white;
  }
  .button button:visited, button:hover, button:focus, button:active {
    background-color: #62C2D2 !important;
    border: 0px !important;
    color: white !important;
  }
  .links{
    width: 250px;
    margin: auto;
    margin-top: 30px;
    padding-bottom: 30px;
  }
  .links a{
    font-size: 15px;
    color: #6d7079;
    text-decoration: none;
    margin-left: 30px;
  }
  .links a:hover{
    color: #6fc1dc;
  }
  .terms a:hover{
    text-decoration: none;
    cursor: pointer;
  }
</style>
