html{
  height: 100%;
  background-color: #f5f5f5;
  margin: 0px;
  font-family: Arial;
}
body{
  height: 100%;
  background-color: #f5f5f5;
  font-family: Arial;
}
.form-group{
  width: 80%;
}
.first, .second{
  width: 35%;
}
.first{
  float: left;
  margin-left: 10%;
}
.second{
  margin-left: 55%;
}
.no-top-margin
{
  margin-top: 0px !important;
}
.alert{
  margin-top: 10px;
  padding-left: 30px;
}
.submit-button{
  width: 40%;
}
