
html{
  height: 100%;
  background-color: #f5f5f5;
  margin: 0px;
  font-family: Arial;
}
body{
  height: 100%;
  background-color: #f5f5f5;
  font-family: Arial;
}
.boxCourse{
    min-height: 260px;
    width: 220px;
    border-radius: 0;
    border: 1px solid black;
    background-color: #f5f5f5;
    text-align: center;
    padding-top: 20px;
    position: relative;
    margin-top: 10px;
    margin-right: 0px;
    opacity: 0.7;
    border-top: 4px solid #e7eaec !important;
    box-shadow: 0px 0px 8px 1px #030303;
    webkit-box-shadow: 0px 0px 8px 1px #030303;
}

.boxCourse img{
    border-radius: 25%;
    height: 130px;
    width: 130px;
}
.down{
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
}
