.lesson-edit{
  margin-top: 90px;
  background-color: white;
  min-height: 300px;
  max-height: 800px;
  overflow-y: scroll;
  padding: 30px;

}
#save{
  width: 30%;
  margin-left: 35%;
}
.row{
  margin-left: 0px !important;
  margin-right: 0px !important;
}
.show-lesson{
  margin-top: 90px;
  background-color: white;
  min-height: 300px;
  max-height: 800px;
  overflow-y: scroll;
  padding: 30px;

}

.title{
  font-size: 38px;
  border-bottom: 1px solid #d8d8d8;
  padding: 10px;
  color: #C85D9F;
}

.lesson-content{
  margin-top: 20px;
}
