.table-responsive{
  margin: auto;
  margin-top: 90px;
  /*overflow-x: hidden;*/
  padding-right: 20px;
}
table td{
  border: 1px solid #252525;
}
table tr{
  border: 1px solid #252525;
}
table th{
  background-color: #252525;
  color: white;
}
.bullet{
  width: 20px;
  height: 20px;
  background-color: #2e99bd;
  border-radius: 50%;
  border: 2px solid #4d4d4d;
}
.no-border-table td{
  border: none !important;
}
.no-border-table tr{
  border: none !important;
}
