
html{
  height: 100%;
  background-color: #f5f5f5;
  padding: 0px;
  margin: 0px;
  font-family: Arial;
  background: url('/images/landing.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
body{
  height: 100%;
  padding:0px;
  margin: 0px;
  background-color: #f5f5f5;
  font-family: Arial;
}
.wrapper{
  min-height: 100% !important;
	position: relative;
}
.container{
  padding-bottom: 80px;
}
.move-right{
  float: right;
}
.header {
  width: 100%;
  background-color: #252525;
  color: white;
  border: none;
  border-radius: 0px;
}
.logo img{
  padding: 5px 0px;
  width: 120px;
}
.logo-container{
  background-color: #252525;
}
.menu-item{
  font-size: 18px;
}
.menu-item a{
  text-decoration: none;
  color: white !important;
  padding: 25px 25px 23px !important;
  border-bottom: 2px solid #252525;
}
.menu-item a:hover{
  color: #2e99bd !important;
}
.menu-item-active{
  padding-bottom: 2px;
  background-color: #2e99bd;
}
.menu-item-active a{
  border: 0px !important;
}
.menu-item-active a:hover{
  color: white !important;
}
@media (min-width:768px){
  .menu-item a:hover{
    border-bottom: 2px solid #2e99bd;
  }
}
.navbar{
  position: static;
}
.navbar-right{
  background-color: #252525;
}
.navbar-collapse{
  border: 0px;
}
.navbar-nav{
  margin: 0px -15px;
}
.navbar-toggle{
  margin-top: 15px;
  background-color: #2e99bd;
  border: 0px;
}
.navbar-toggle button:visited, button:hover, button:focus{
  background-color: #2e99bd !important;
}
.icon-bar{
  background-color: white !important;
}

.footer{
  height: 60px;
  background-color: #252525;
  text-align: center;
  width: 100%;
  position:absolute;
  bottom:0px;
  left:0px;
}

.footer img{
  padding-top: 10px;
}
