<style>
  html{
    height: 100%;
    background-color: #f5f5f5;
    padding: 0px;
    margin: 0px;
    font-family: Arial;
  }
  body{
    height: 100%;
    padding:0px;
    margin: 0px;
    background-color: #f5f5f5;
    font-family: Arial;
    background: url('/images/landing.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  .container{
    margin: 0!important;
    width: 100%;
    padding: 0;
  }
  .header{
    margin-bottom: 0;
  }
  a{
    padding: 30px;
    font-size: 16px;
  }
</style>
