.row{
  margin-left: 0px!important;
  margin-right: 0px!important;
}
a:hover{
  text-decoration: none
}
.padding-top{
  padding-top: 90px;
}
.course-info{
  background-color: white;
  min-height: 400px;
}
.course-info-header{
  width: 100%;
  height: 70px;
}
.course-info-header .user-name{
  float: left;
  color: #2e99bd;
  font-size: 25px;
  padding: 20px;
  font-weight: bold;
  max-width: 60%;
}
.courses-number{
  margin-right: 30px !important;
}
.course-info-header .courses-number{
  float: right;
  color: #C85D9F;
  font-size: 22px;
  padding: 20px 0px 20px 20px;
  font-weight: bold;
}
.course-info-header .number-of-courses{
  float: right;
  margin: 20px 20px 20px 0px;
  height: 17px;
  width: 17px;
  text-align: center;
  border-radius: 50%;
  font-size: 12px;
  background-color: #2e99bd;
}
.course-info-header .number-of-courses a{
  color: white;
}
.course-info-header .number-of-courses a:hover{
  color: white;
}
.course-picture{
  width: 70%;
  height: 210px;
  margin: auto;
}
.course-picture img{
  width: 100%;
  height: 100%;
  border-radius: 2%;
  border: 1px solid #d8d8d8;
}
.course-options{
  height: 400px
}
.course-fields{
  width: 100%;
  margin-top: 20px;
  padding: 0px 10px;
}
.course-description{
  padding: 20px;
}
.course-options{
  padding: 10px;
}
.no-border{
  border-top: 0 !important;
}
.field{
  padding: 10px 10px 0px 50px;
  color: #959a9e;
  font-size: 10px;
  text-transform: uppercase;
  margin-bottom: -7px;
}
.value{
  padding: 0px 20px 10px 50px;
  color: #464E54;
  font-size: 14px;
}
.small-border{
  border-top: 1px solid #D8D8D8;
  width: 100%;
}
.big-border{
  border-top: 1px solid #B6B9BC;
  width: 100%;
}
.course-fields i.fa{
  padding-left: 20px;
}
.course-options i.fa{
  padding: 0px 20px;
}
.value.big-padding{
  margin-top: 0px;
  padding: 11px 0px;
}
.no-padding-top{
  padding-top: 0px;
}
.hover-link a{
  display: block;
}
.hover-link a:hover{
  background-color: white;
}

.participants-table{
  text-align: center;
}

.enrol-button{
  width: 30%;
  margin-top: 20px;
  float: left;
}

.margin-left{
  margin-left: 20px;
}

.left-side, .right-side{
  width: 35%;
  float: left;
}

.left-side{
  margin-left: 13%;
}
.middle-side{
  width: 10%;
  float: left;
  font-size: 19px;
  color: #505961;
  margin: 0px 15px;
  text-align: center;
}
.line{
  border-bottom: 1px solid #d8d8d8;
  margin-top: 9px;
}
.users-list, .lessons-list, .questions-list{
  width: 60%;
  margin-left: 13%;
  margin-bottom: 30px;
  color: #464E54;
}
.lessons-list, .questions-list{
  width: 65%;
}
.users-list td{
  padding: 10px;
  text-align: center;
}
.users-list .matricol{
  font-size: 11px;
  color: #959a9e;
}
table.lessons-list td:first-child{
  width: 80%;
}
.full-width{
  width: 100% !important;
}
table.lessons-list td:last-child{
  vertical-align: top;
  float: right;
}
table.questions-list td{
  border-bottom: 1px solid #d8d8d8;
  border-left: 1px solid #d8d8d8;
  text-align: center;
  padding: 3px;
}
table.questions-list td:first-child{
  text-align:left;
  border-left: none;
}
table.questions-list tr:last-child td{
  border-bottom: none;
}
.right-answer{
  color: #2E99BD;
}
