.table-responsive{
  margin: auto;
  margin-top: 90px;
  /*overflow-x: hidden;*/
  padding-right: 20px;
  width: 80%;
}
table td{
  border: 1px solid #cccccc;
}
table tr{
  border: 1px solid #cccccc;
}
table th{
  background-color: #252525;
  color: white;
  font-weight: bold;
}
table tr:nth-child(even){
  height: 28px;
}

table tr:nth-child(even) td{
  background-color: #333333;
  height: 28px;
  color: white;
  padding: 0px !important;
}
table tr td:first-child{
  width: 120px;
  max-width: 170px;
  text-align: center;
}
.bullet{
  width: 20px;
  height: 20px;
  background-color: #2e99bd;
  border-radius: 50%;
  border: 2px solid #4d4d4d;
}
.no-border-table td{
  border: none !important;
}
.no-border-table tr{
  border: none !important;
}
.comment-date{
  float: left;
}
td.vertical-align-middle{
  vertical-align: middle !important;
}
.post-reply{
  width: 80%;
  margin: auto;
  padding-right: 20px;
}
.post-reply .btn-primary{
  float: right;
  background-color: #2E99BD;
  border-color: #2E99BD;
  padding: 3px 12px;
  margin-bottom: 10px;
}
.btn-danger{
  margin-right: 3px;
}
.Administrator{
  color: #D9534F;
  font-weight: bold;
}
.Professor{
  color: #2E99BD;
  font-weight: bold;
}
.Student{
  color: #bbb;
  font-weight: bold;
}
