table{
  margin-top: 90px;
  width: 100%;
}
th{
  text-align: center;
  font-size: 17px;
  padding: 10px;
  border-left: 1px solid #d8d8d8;
}
th:first-child, td:first-child{
  border-left: none;
}
td{
  text-align: center;
  border-left: 1px solid #d8d8d8;
  border-top: 1px solid #d8d8d8;
  padding: 10px;
}
.green{
  color: #33cc33;
}
.red{
  color: #D9534F;
}
.student_grades{
  margin-top: 90px;
  background-color: white;
  min-height: 300px;
  padding-bottom: 20px;
}
.title{
  font-size: 38px;
  border-bottom: 1px solid #d8d8d8;
  padding: 10px;
  color: #C85D9F;
}
