html{
  height: 100%;
  background-color: #f5f5f5;
  padding: 0px;
  margin: 0px;
  font-family: Arial;
}
body{
  height: 100%;
  padding:0px;
  margin: 0px;
  background-color: #f5f5f5;
  font-family: Arial;
}
.content{
  /*padding: 20px 10px 40px;*/
  margin-left: 220px;
}
.header {
  background-color: #eee;
  color: white;
  height: 60px;
}
.header a{
  margin-right: 25px;
  color: #2e99bd;
}
.header a:hover{
  text-decoration: none;
}
.header-options{
  padding-top: 20px;
  float: right;
}
.left-navbar{
  float: left;
  position: fixed;
  background-color: #252525;
  height: 100%;
  padding: 0px;
  width: 200px !important;
}
.user-and-avatar{
  height: 150px;
  background: url('/images/gray_texture.png') no-repeat;
  width: 100%;
}
.user-and-avatar img{
  margin-top: 20px;
  margin-left: 20px;
  border-radius: 25%;
}
.user-and-avatar p{
  color: white;
  margin-left: 20px;
}
.name{
  margin-top: 10px;
  font-size: 17px;
  font-weight: bold;
}
.username{
  color: #bbb !important;
  opacity: 0.7;
}
.list-group-item, .panel{
  border: none;
  background-color: #252525;
  border-radius: 0 !important;
}
.list-group-item:hover{
  border-radius: 0 !important;
}
.dashboard{
  margin-bottom: 10px;
  margin-top: 0px;
}
.dashboard a{
  background-color: #2e99bd;
}
#main-menu{
  height: 100%;
  min-height: 900px;
}
#main-menu a{
  color: white;
}
.menu-item{
  font-size: 17px;
  font-weight: lighter;
}
.menu-item a{
  padding-left: 20px;
}
.menu-item a:visited{
  border-left: 3px solid #2e99bd;
}
.menu-item a:hover{
  background-color: #2e99bd;
}
.menu-item a:active{
  border-left: 3px solid #2e99bd;
}
.menu-item a:focus{
  border-left: 3px solid #2e99bd;
  background-color: #333333;
}
.subitem{
  border: none;
  border-left: 3px solid #2e99bd;
}
.subitem a{
  background-color: #333333;
  padding-left: 50px;
  color: #cccccc !important;
  font-size: 12px;
}
.subitem a:hover{
  background-color: #2e99bd;
  color: white !important;
}
.subitem-title{
  border-left: 3px solid #2e99bd;
  color: white;
  padding-left: 25px;
  font-size: 13px;
  background-color: #333333;
}
.subitem-title p{
  margin: 0px;
}
.active{
  border-left: 3px solid #2e99bd;
  pointer-events: none;
  cursor: default;
  margin: 2px 0px;
  background-color: #333333;
}
.active a{
  background-color: #333333!important;
}
.active a:hover{
  background-color: #333333!important;
  pointer-events: none;
  cursor: default;
}
