table{
  width: 100%;
}
th{
  text-align: center;
  font-size: 17px;
  padding: 10px;
  border-left: 1px solid #d8d8d8;
}
th:first-child, td:first-child{
  border-left: none;
  width: 30%;
}
td{
  border-left: 1px solid #d8d8d8;
  border-top: 1px solid #d8d8d8;
  padding: 10px;
}
.green{
  color: #33cc33;
}
.red{
  color: #D9534F;
}
.take_test{
  margin-top: 90px;
  background-color: white;
  min-height: 300px;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
.title{
  font-size: 38px;
  border-bottom: 1px solid #d8d8d8;
  padding: 10px;
  color: #C85D9F;
}
input[type="radio"]{
  margin: 0px 10px;
}
.submit-btn{
  width: 30%;
  margin: 30px;
  margin-left: 0px;
}
